<template>
  <div class="hello">
    <div class="tiles-map">
      <div class="tile-line" v-for="(line, index) in tiles" :key="index">
        <Tile :type='item' v-for="(item, i_index) in line" :key="'l'+index+'i'+i_index" @typechange="change(index, i_index)" />
      </div>
    </div>
    <div class="settings">
      <button @click="addLine">Add line</button>
      <button @click="removeLine">Remove line</button>
      <button @click="addRow">Add Row</button>
      <button @click="removeRow">Remove Row</button>
      <textarea v-model="linedTiles" cols="30" rows="10"></textarea>
    </div>
    <div class="legend">
      <div class="legend-item" v-for="t in pretypes"  @click="setInstrument(t.key)" :key="t.key" :style="getStyle(t.key)" >
        <p>{{t.tip}}</p> <Tile :type="t.key" /> 
      </div>
    </div>
  </div>
</template>

<script>
import types from '../types'
import Tile from './Tile.vue'
export default {
  name: 'HelloWorld',
  data() {
    return {
      tiles: [
        [
          'p', 'b'
        ]
      ],
      instrument: 'e'
    }
  },
  components: {
    Tile
  },
  computed: {
    pretypes() {
      const pre = Object.values(types.types)
      return pre
    },
    linedTiles: {
      get: function() {
        return this.tiles.join('\n')
      },
      set: function(newVal) {
        const lines = newVal.split('\n')
        this.tiles.splice(0, this.tiles.length)
        lines.forEach(line => {
          this.tiles.push(line.split(','))
        })
      }
    }
  },
  methods: {
    addLine(){
      const newLine = []
      let arraySize = this.tiles[0].length
      while(arraySize--) newLine.push('e')
      this.tiles.push(newLine)
    },
    addRow() {
      for (let index = 0; index < this.tiles.length; index++) {
        const line = this.tiles[index];
        line.push('e')
      }
    },
    removeLine(){
      if (this.tiles.length > 1) {
        this.tiles.splice(this.tiles.length-1, 1)
      }
    },
    removeRow(){
      if (this.tiles[0].length > 1) {
      for (let index = 0; index < this.tiles.length; index++) {
        const line = this.tiles[index];
        line.splice(line.length-1, 1)
      }
      }
    },
    getStyle(itemType){
      if (itemType == this.instrument){
        return {border: "2px solid red"}
      }
    },
    setInstrument(item){
      this.instrument = item
    },
    change(y,x){
      console.log('change!')
      const newType = this.instrument
      // this.tiles[y][x]=newType
      let line = this.tiles[y]
      line[x] = newType
      this.$set(this.tiles, y, line)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.legend{
  display: flex;
  flex-direction:row;
}
.legend-item{
  height: 70px;
  margin-right: 10px;
  overflow: hidden;
  text-align: start;
  vertical-align: text-top;
}
.tiles-map{
  border: 1px solid gray;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.tile-line{
  margin: 0;
  padding: 0;
  height: 24px;
}
</style>
