<template>
    <div class="tile" :style="{backgroundColor: bg, backgroundImage: 'url(' + bgimg + ')'}" @mousedown="emitMe()"></div>
</template>

<script>
import types from '../types'
const keys = types.keys
export default {
    
  props: {
    type: String
  },
  computed: {
      bg() {
          const typeColor = types.types[this.type]
          if (typeColor) return typeColor.color
          return '#afffaf'
      },
      bgimg(){
          const typeColor = types.types[this.type]
          console.log(typeColor)
          if (typeColor) return typeColor.bg
          return ''
      }
  },
  methods: {
      emitMe(){
          console.log('cl')
          this.$emit('typechange')
      },
      nextType(){
          let nextItem = keys[0]
          const currentIndex = keys.indexOf(this.type)
          if (currentIndex == -1 || currentIndex >= keys.length - 1) nextItem = keys[0]
          else nextItem = keys[currentIndex + 1]
          this.$emit('typechange', nextItem)
      }
  }
}
</script>

<style>
.tile{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 1px solid gray;
    background-size: contain;
}
</style>
